
{% extends "default.html" %}
{% load storting_extras %}
{% block page_title %}
Samstemmer - metode
{% endblock page_title %}
{% block content %}

<div class="grid_5"><span class="text_icon">!42</span></div>
<div class="grid_15" id="metode2">
	<div></div>
	<h1 id="metode" title="her">Metode</h1><!--  aka "nerdesiden"-->
	<p>Det er ikke alltid klart hvordan en datamaskin kommer fram til svaret den gir oss. 42 er som kjent svaret på Spørsmålet om livet, universet og alt mulig, i følge <em>Haikerens guide til galaksen.</em> Ikke bare er spørsmålt uklart, men metoden er også ukjent og umulig å etterprøve. </p>
	<p>På denne siden finner du beskrivelser av hvordan denne nettsiden regner seg fram til de svarene den gir.</p>
</div>

<div class="clear"></div> 

<div class="grid_5"><img src="{{ STATIC_URL }}/static/img/excel.png" style="float:right">
</div>
<div class="grid_15" id="data" >
	<h2 id="">Data</h2>
	<p>Data som brukes kan lastes ned <a href="{{ STATIC_URL }}/nedlastinger">her</a> (i csv-format som kan åpnes i f.eks. Excel) og fra <a href="http://data.stortinget.no/">data.stortinget.no</a> for de mer teknisk orienterte.</p>
	<p>Inneholder data under Norsk lisens for offentlige data (NLOD) tilgjengeliggjort av Stortingets datatjeneste.</p>
	<h3>Automagi</h3>
	<p>Denne nettsiden henter automatisk ny data fra Stortinget, slik at tallene som vises her alltid er oppdatert med de siste endringene. </p>
</div>

<div class="clear"></div> 
<br />
<div class="grid_5"><span class="text_icon">OC</span></div>
<div class="grid_15" id="oc">
	<h2>Optimal klassifisering</h2>
	<p>Jeg har kalt det et <em>Folkerepresentasjonskart</em>, det er et bilde-som-oppsummering som viser representantenes foretrukne posisjon i forhold til hverandre basert på de siste n voteringene. Koden som regnes ut disse posisjonene kan du finne <a href="http://voteview.com/optimal_classification.htm">her</a> og en kort forklaring <a href="http://cran.r-project.org/web/packages/oc/vignettes/oc.pdf">her</a>, og en lengre en <a href="https://www.google.no/search?q=isbn+1139446754">her</a>.</p>
	<p>Posisjonene er produsert ved å først lage en avstandsmatrise for alle representantene basert på vektror for hver representans stemmehistorikk. Denne matrisen oversettes til to dimensjoner (x og y i grafen) ved at skillelinjer (mellom de som stemmer for og i mot) deler en rute opp i flere og flere polygoner. Jo flere ganger en slik skillelinje trekkes jo flere golygoner skapes (så sant de som ikke er for/mot er nøyaktig de samme hevr gang), og posisjonene som genereres representerer disse polygonene.</p>

	<img src="{{ STATIC_URL }}/static/img/rplot.png" style="">
	<p>Øverst til venstre vises OC coordinates, som er just det samme som vises på denne siden under <a href="/oc">folkerepresentasjonskart</a>. Øverst til venstre i bildet vises distribusjonen over vinklene på skillelinjene som søylediagram. Nederst til venstre vises en <a href="http://en.wikipedia.org/wiki/Factor_analysis">scree plot</a> som indikerer forklaringskraften i demensjonene. Typisk for stemmedata er at to dimensjoner stort sett dekker det meste, og den første dimensjonen (høyre-venstre) dominerer voldsomt. Neders til høyre vises en Coombs mesh, eller skillelinjer (cutting lines) mellom for/mot. Legg merke til at i eksemplet over, som er basert på 200 avstemninger finnes det fortsatt enkelte relativt store polygoner. Legg derfor inn litt slingringsmon når du analyserer! </p>
	

	<h3>APRE</h3>
	<p>Ved hvert folkerepresentasjonskart oppgis en APRE-verdi. APRE står for <em> Aggregate Proportional Reduction in Error</em> og er et mål for for hvor godt modellen dekker dataene. APRE er et tall fra 0 til 1, der 0 ikke dekker dataene i det hele tatt, men 1 viser til en perfekt klassifisering. Ved APRE 1 (eller 100%) vises alle representanter et sted i koordinatsystemet der de alltid står "riktig" i forhold til skillelinjene (slik de stemte). </p>
	
	<h3>CC</h3>
	<p>En CC-verdi oppgis også. CC står for <em>correctly classified</em> og er også et mål på hvor støtt graften står. Ved 100% er ingen av representantenes posisjon på noe tidspunkt på "feil side" av en skillelinje. </p>

	<h3>Alle er ikke med!</h3>
	<p>Nei.</p>
	<ol>
		<li>Folk vi gjerne skulle ha hatt med er statsrådene, men de sitter som kjent ikke på tinget, men i regjeringen.</li>
		<li>Det mangler fortsatt noen!
			<ul>
				<li>For å minske feilmarginen til metoden lukes representanter som ikke stemmer ofte nok (har ikke stemt i mer enn n (20) avstemninger i materialet som analyseres. <br />
					Likeledes lukes saker som det er stor enighet (mindre enn 5% oposisjon) ut, slik at det er forskeldene, ikke likhetene som undersøkes.</li>

			</ul></li>
	</ol>
 
</div>


<div class="clear"></div> 
<div class="grid_5"><span class="text_icon">✍</span></div>
<div class="grid_15" id="lix">
	<h2>LIX: Lesbarhetsindeks</h2>
	<p>Lesbarhetsindekstall på denne siden lages basert på skriftlige spørsmål.</p>
	<ul>


	<li>Les om metoden her <a href="http://no.wikipedia.org/wiki/Lesbarhetsindeks">no.wikipedia.org/wiki/Lesbarhetsindeks</a></li>

	<li><a href="http://www.sprakrad.no/nb-no/klarsprak/sprakhjelp/skriverad/om-liksberegning/">Språkrådets tekst om lix</a></li>

	<li>Implementasjonen som er brukt er basert på kode (og erfaringer) fra <a href="http://www.mortengoodwin.net/publicationfiles/webmining_2007_reportgroup6.pdf">Thomas Jakobsen og Thomas Skardal </a>, nå som en del av <a href="https://github.com/nltk/nltk_contrib/tree/master/nltk_contrib/readability">nltk_contrib</a>.<br /> (min kode <a href="https://github.com/eiriks/samstemmer/blob/master/fylkesperspektiv/management/commands/textanalyzer_no.py">på github</a> er skrevet om til å forvente unicode tekst)</li>
		</ul>
</div>



<div class="clear"></div> 
<div class="grid_5"><span class="text_icon">©?</span></div>
<div class="grid_15" id="floss">
	<h2>Kildekode &amp; copyright </h2>
	<p>Data fra stortinget er lisensiert under <a href="http://data.norge.no/nlod/en">Norsk lisens for offentlige data (NLOD)</a>, som betyr at  kardemommebyloven gjelder, og Stortinget skal ha kudos for å dele!</p>
	<p>Kildekoden denne siden består av er åpen kildekode så lenge ikke noe annet er rimelig å tolke. Koden er å <a href="https://github.com/eiriks/samstemmer">finne på github</a>.</p>

</div>


<div class="clear"></div> 
<div class="grid_5"><span class="text_icon">⚡</span></div>
<div class="grid_15" id="links">
	<h2>Lenker</h2>
	<ul>
		<li><a href="http://www.partifinansiering.no/">partifinansiering.no</a></li>
		<li><a href="www.holderdeord.no">holderdeord.no</a></li>
	</ul>

</div>

<div class="clear"></div> 
<div class="grid_5"><span class="text_icon">%</span></div>
<div class="grid_15" id="stemmelikhet">
	<h2>Stemmelikhet</h2>
	<p>Hvor likt stemmer representant x og y?</p>
	<p>Utregningen for hvor likt to representanter stemmer tra følgende prosedyre:<br />
		Stemmeresultatetne for de to representantenes siste 400 voteringer sammenliknes ved at kun de voteringene der de begge var til stede brukes, slik at hvis begge ikke var frahverende teller dette hverken som enighet eller uenighet. Representanter som sjeldent voterer kan da endre opp med 0% likhet (og ulikhet) med alle andre hvis de to aldri var på samme votering innen de siste n voteringer. 
	</p>
	<h3>Likhet med parti</h3>
	<p>For å finne likhet mellom representanter og partier brukes "median-stemmen" eller flertallet for et parti som sammenlikningsgrunnlag. Sammenlkiningen viser altså hvor ofte en representant stemmer med flertallet i partiene.</p>
	<h3>Likhet med fylke</h3>
	<p>Likhet for fylke er regnet ut likt som parti, der "fylkets stemme" regnes som medianstemmen for hvert fylke. NB: Noen fylker har svært ulik representasjon (med stor overvekt av et parti eller blokk).</p>
</div>



<div class="clear"></div> 
<div class="grid_5"><span class="text_icon">♫</span></div>
<div class="grid_15" id="samstemmer">
	<h2>samstemmer.net</h2>
	<p>Musikalitet er ikke forbeholdt musikere, og også politikere må forventes både å forholde seg til takt, tone og stemmeapparater (dog kanskje ikke gafler) 

	</p>
	<p><strong>samstemme</strong> harmonere, godkjenne, tiltre (Norske synonymer)</p>
	[...]
	<p> <strong>samstemme</strong> stemme overens:, erklære seg enig: (Norsk ordbok)<br />
	<strong>samstemme</strong></p>
	<ol>
	<li>stemme overens: vitneforklaringene samstemte ikke / samstemte instrumenter / tekst og musikk var godt samstemt</li>
	<li>erklære seg enig: alle de andre samstemte i dette / samstemme med en i noe</li>
	</ol>
	[...]

	<p><strong>sam|stemme</strong> mest i adj. pf. pt. mus. bringe (instrumenter) (Norsk Riksmålsordbok (hist.))</p>
	<strong>sam|stemme</strong> (verb) <br />
	<p>Bøyningsformer:</p>

	<p>1 <br />
	a <span class="green">mus.</span> bringe (instrumenter) til å klinge rent sammen.<br />
	samstemte instrumenter<br />
	<br />
	b <span class="green">litt.</span> bringe til å harmonere, stemme overens.<br />
	tekst og musikk var godt samstemt<br />
	den beaandede, fint samstemte tolkning (Nat. 1931/111/3/4)</p>

	<p>2 <br />
	a <span class="green">mus.</span>, sj., (om toner, instrumenter) klinge harmonisk sammen.
	mest i adj. pr. pt. samstemmende toner</p>

	<p>b <span class="green">litt.</span> stemme overens (med).<br />
	varslerne talte og skrifterne samstemte med dem (Ibs. K. G. 450)</p>

	<p>c <span class="green">litt.</span> erklære sig enig.<br />
	jeg håber sikkert at de tre herrer samstemmer med mig (Ibs. Samf. 201)<br />
	de andre samstemte i dette (Asbj. Fo. Hu.ev. 106)<br />
	jf. også (J. Lie Rutl. 164)
	</p>
	<p>Kilde: www.ordnett.no, 2013</p>

</div>


<div class="clear"></div> 
<div class="grid_5"><span class="text_icon">✳</span></div>
<div class="grid_15" id="nettverk">
	<h2>Nettverk</h2>
	<p>Stortingsdataene inneholder nettverksinformasjon. F.eks. er hvem-stiller-spørsmål-til-hvem et nettverk av mennesker bundet sammen av spørsmål. </p>
	<p>Stemmelikhet kan også bli et nettverk. Se f.eks. bildet under som viser et slikt nettverk der representanter som stemmer likt i mer enn 50% av voteringene får en kant (linje, relasjon). En layout-algoritme orienterer så nodene på en visuelt behagelig måte som separerer nodene etter relasjonene.</p>
	<a href="{{ STATIC_URL }}/static/img/sprsmal_netverk.png"><img src="{{ STATIC_URL }}/static/img/sprsmal_netverk_s.png" style=""></a>
	<p>Koden som tegnet bildet over er skrevet av <a href="http://pcbje.com/">Petter Christian Bjelland</a> og redigert av meg. Du finner den <a href="https://github.com/eiriks/stortinget-to-gephi">her</a>. Til å visualisere grafen trenger du <a href="https://gephi.org/">gephi</a>.
	</p>
	
</div>



<hr />






{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}


{% block css %}
<style type="text/css">
.text_icon{
	font-size:5em;float:right;font-weight:bold;color:#54736E;margin-right:10px;
}
.green{color:green;}
</style>
{% endblock css %}

{% block javascript %}
<script>
    // for each div with an id inside #main
    $('div#main div[id]').each(function() {
    	var denne = $(this).find(':header:first')
    	$('<a class="headerlink">\u00B6</a>').
      	attr('href', '#' + this.id).
      	attr('title', 'Permalink to this headline').
      	appendTo(denne);
    });

    // hide all inline links
    $('.headerlink').hide();

    // hover to show links
    $('.headerlink').parent().hover(function() {
    	$(this).find(':hidden:first').show();
    }, function(){
    	console.log(this)
    	$(this).find(':first').hide();
    });


</script>




{% endblock javascript %}


