
{% extends "default.html" %}
{% load storting_extras %}
{% block page_title %}
Samstemmer - stortingsdata til nedlanting
{% endblock page_title %}


{% block content %}




<div class="grid_10 prefix_2">

<h1>Last ned data </h1>
<p>Stortinget tilbyr et data-API som lar deg laste ned data. Denne nettsiden er basert på data fra dette APIet. Hvis API ikke er et fremmedord for deg er det hit du skal: <a href="http://data.stortinget.no/">http://data.stortinget.no/</a>.</p>


<p>Hvis du derimot trenger data i excel-format kan du laste det ned her. </p>
</div>


<div class="grid_10 suffix_2">
	<h2>Dynamiske data</h2>
	<p>Nyeste data fra enkelte datasett i .csv format.</p>
	<ul>
		<li><a href="{{ STATIC_URL }}/nedlastinger/sporsmal">Siste 200 spørsmål</a></li>

		<li><a href="{{ STATIC_URL }}/nedlastinger/resultat">Siste 200 voteringsresultat</a></li>
		<li><a href="{{ STATIC_URL }}/nedlastinger/dagensrep">Dagens storting</a> </li>
	</ul>
</div>



<div class="clear"></div>
<div class="grid_12 prefix_2">
	<br />
	<h2>Statiske data</h2>
</div>

<div class="clear"></div>
<div class="grid_4 prefix_2">
	
	<a href="{{ STATIC_URL }}/static/downloads/stortinget_dump.csv.zip"><img src="{{ STATIC_URL }}/static/img/excel.png"></a>
</div>

<div class="grid_12 ">
	<h3>CSV-format (all data)</h3>
	<p>.csv filer kan åpnes i Excel og de fleste andre regneark-program og tekstbehandlere.<br />
		Filene er pakket (zippet) og inneholder all data per 12/3-13.</p>
		<p><a href="{{ STATIC_URL }}/static/downloads/stortinget_dump.csv.zip">Last ned</a></p>
</div>

<div class="clear"></div>
<br />

<div class="grid_12 prefix_6">
	<h3>SQL-format (all data)</h3>
	<p>Dette er en stor pakket (zippet) .sql fil som kan importeres i en database. <br />Filen inneholder all data per 12/3-13.</p>
	<p><a href="{{ STATIC_URL }}/static/downloads/stortinget_dump.sql.zip">Last ned</a></p>
</div>
<div class="grid_4 suffix_2 ">
	<a href="{{ STATIC_URL }}/static/downloads/stortinget_dump.sql.zip"><img src="{{ STATIC_URL }}/static/img/zip.png"></a>
</div>

<div class="clear"></div>
<div class="clear"></div>
<br />


<!-- <div class="grid_12" style="text-align:right;">
	<h2>CSV-format (all data)</h2>
	<p>her er tekst</p>
</div>
<div class="grid_4  suffix_8">
	<img src="{{ STATIC_URL }}/static/img/csv.png" class="right">
</div>

<div class="clear"></div>
<br />
 -->





<div class="clear"></div>



{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}


{% block css %}
{% endblock css %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}/static/js/jquery-expander/jquery.expander.min.js"></script>
<script>
</script>

{% endblock javascript %}


